.cache/
.pytest_cache/
.mypy_cache/

dist/
build/
*.egg-info/

.vscode/
.idea/

**/__samples__/
**/__pycache__/

htmlcov/

.coverage
.notifier
.DS_Store
*.pyc
*~
*.conf
*.db
*.orig

/*.json
poetry.lock